
<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <base href="http://tableless.com.br/">
  <title>Tableless</title>
  <link rel="canonical" href="http://tableless.com.br/diretivas-angularjs-abas/">
  <link href="" rel="alternate" type="application/rss+xml" title="Tableless" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  
</head>
<body>


  <header id="tb-header">
    <a href="http://tableless.com.br/" class="tb-logo"><img src="images/logo.svg"></a>

    

    <nav id="tb-menu">
      <ul>

        
          
              
            <li>
              <a href="/categories/html">
                  
                  HTML
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/css/">
                  
                  CSS
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/javascript/">
                  
                  JavaScript
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/back-end/">
                  
                  Back-end
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/wordpress/">
                  
                  WordPress
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/acessibilidade/">
                  
                  Acessibilidade
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/design/">
                  
                  Design
              </a>
          
            </li>
          
              
            <li>
              <a href="/categories/t%C3%A9cnicas-e-pr%C3%A1ticas/">
                  
                  Na prática
              </a>
          
            </li>
          

      </ul>
    </nav>

  </header>

  <header class="tb-post-header">
    <h1 class="tb-hero-title"><a href="/diretivas-angularjs-abas/">Entendendo as diretivas e fazendo abas com AngularJS</a></h1>
  <p class="tb-hero-p">
    
    As diretivas do AngularJS estendem o código HTML, atribuindo funcionalidades aos componentes. Entenda como as diretivas funcionam fazendo uma funcionalidade básica de abas (tabs).
    
  </p>
      <span class="tb-author">por <a href="/author/diego-eis">Diego Eis</a></span>


  </header>


<section class="tb-post">

  <section class="tb-post-content">
    <article class="tb-post-article">
      

<p>O AngularJS é um framework em JavaScript para a criação de web apps. Uma das suas principais características é levar parte da lógica das funcionalidades dos componentes direto para o HTML a partir das diretivas.</p>

<p>O <a href="http://twitter.com/rodrigobranas">Rodrigo Branas</a> define as diretivas assim:</p>

<blockquote cite="rodrigo branas">
  <p>
    Diretivas são extensões da linguagem HTML que permitem a implementação de novos comportamentos de forma declarativa.
  </p>
</blockquote>

<p>Isso quer dizer que você não vai precisar escrever um monte de JavaScripts para executar funções que deveriam ser simples, como abas, por exemplo. Vamos fazer agora a funcionalidade de abas, que é bastante conhecida de todo mundo. Isso vai fazer você entender melhor como a lógica das diretivas do AngularJS funciona.</p>

<h2 id="iniciando-as-abas">Iniciando as abas</h2>

<p>Este é um HTML simples, com o código HTML básico que precisamos para formatar o visual e acomodar o conteúdo das abas.</p>

<p>Ainda não há nenhuma funcionalidade, só estilo CSS. Vamos inserir as diretivas a partir de agora. se você for acompanhar por aí, basta chamar o AngularJS no seu exemplo:</p>

<pre class="lang-html">&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.js"&gt;&lt;/script&gt;
</pre>

<h2 id="inserindo-as-diretivas">Inserindo as diretivas</h2>

<p>A primeira diretiva que precisamos inserir é a <code>ng-app</code> que vai iniciar o AngularJS, avisando que aquele pedaço de HTML é a minha aplicação e que ele vai apenas funcionar naquele escopo. Nesse meu exemplo, eu inseri <code>ng-app</code> no meu div <code>.container</code> que é o div que engloba tudo, mas geralmente esse <code>ng-app</code> é colocado na tag <code>html</code>.</p>

<pre class="lang-html">&lt;div class="container" ng-app&gt;
</pre>

<p>Se você quiser ler uma introdução básica sobre AngularJS, leia o artigo do Davi Ferreira, aqui mesmo no Tableless, explicando sobre <a href="http://tableless.com.br/criando-uma-aplicacao-simples-com-angularjs/" title="Criando uma aplicação simples com AngularJS">como iniciar uma aplicação simples com AngularJS</a>.</p>

<p>Feito isso, vamos inserir algumas diretivas no HTML que fazemd as abas. Serão duas diretivas: <code>ng-click</code> e <code>ng-class</code>.</p>

<pre class="lang-html">&lt;ul class="tabs-nav"&gt;
  &lt;li&gt;&lt;a ng-click="tab=1" ng-class="{'active' : tab==1}"&gt;Aba 1&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a ng-click="tab=2" ng-class="{'active' : tab==2}"&gt;Aba 2&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a ng-click="tab=3" ng-class="{'active' : tab==3}"&gt;Aba 2&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>

<p>A <a href="https://docs.angularjs.org/api/ng/directive/ngClick">diretiva ng-click</a> detecta o click no elemento e executa algum comportamento. Nesse caso ele vai definir uma variável contextual chamada <code>tab</code> atribuindo o valor <strong>1, 2 ou 3</strong> para essa variável, dependendo da aba clicada.</p>

<p>A <a href="https://docs.angularjs.org/api/ng/directive/ngClass">diretiva ng-class</a> permite adicionar uma classe dinamicamente no elemento por meio de uma expressão. O valor que adicionamos ali é uma condicional: <code>{'active' : tab==1}</code>. Adicione a classe <strong>active</strong> se a variável <strong>tab</strong> for igual a <strong>1</strong>. Colocamos essa condição em todas as nossas tabs.</p>

<p>Agora, para fecharmos, vamos adicionar mais uma diretiva chamada <code>ng-show</code> nos conteúdos das respectivas tabs. A <a href="https://docs.angularjs.org/api/ng/directive/ngShow">diretiva ng-show</a> mostra ou esconde o elemento baseado em alguma expressão ou condicional. Nesse nosso caso a condicional é simples: <code>tab == 1</code>. Se a variável <strong>tab</strong> for igual a <strong>1</strong>, mostra aquele elemento. Fazemos isso em todos os conteúdo das abas.</p>

<pre class="lang-html">&lt;div class="tabs-container"&gt;
    &lt;div class="tab-content" ng-show="tab == 1"&gt;
        &lt;h3&gt;Primeira aba&lt;/h3&gt;
        &lt;p&gt;Lorem ipsum...&lt;/p&gt;
    &lt;/div&gt;

    &lt;div class="tab-content" ng-show="tab == 2"&gt;
        &lt;h3&gt;Segunda aba&lt;/h3&gt;
        &lt;p&gt;Lorem ...&lt;/p&gt;
    &lt;/div&gt;

    &lt;div class="tab-content" ng-show="tab == 3"&gt;
        &lt;h3&gt;Terceira aba&lt;/h3&gt;
        &lt;p&gt;Lorem ...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>

<p>Perceba que o AngularJS já começa a fazer a mágica aqui. O <code>ng-click</code> cria a variável <code>tab</code> e já atribui um valor. O <code>ng-class</code> verifica essa variável, se for igual ao valor determinado, ele adiciona a classe. O <code>ng-show</code> já faz o trabalho de mostrar ou não os conteúdos de acordo com a aba clicada, verificando o valor atual da variável <code>tab</code>. Sem JavaScript, baby! Veja o exemplo completo abaixo:</p>

<p>Agora sua cabeça começa a fundir, porque as abas funcionam, perfeitamente e toda a lógica disso está no HTML. Isso é bom? Poxa, talvez sim, talvez não.</p>

<p>Opa! Faltou uma diretiva&#8230; Essa se chama <code>ng-init</code>. A <a href="https://docs.angularjs.org/api/ng/directive/ngInit">diretiva ng-init</a> permite avaliar e modificar uma expressão dentro de um determinado escopo. O escopo, no caso desse exemplo, é tudo que está no <code>ng-app</code>. Vamos colocar esse atributo junto com o ng-app: <code>ng-init=&quot;tab=1&quot;</code>. Isso define o valor inicial de 1 para a variável <strong>tab</strong>. Isso faz com que nossa primeira tab seja iniciada logo no load do documento.</p></p>

<p>A primeira vez que mexi com AngularJS e fiz algo bem básico, logo pensei: essa coisa é mágica. E muitas vezes é. As diretivas são parte dos princípios do AngularJS. São elas que farão boa parte das mágicas. Mas preciso avisar: é a parte mais difícil de engolir do AngularJS. Ainda é muito difícil para mim assimilar que parte das funcionalidades não são tratadas no JavaScript como fazemos todos os dias, mas no HTML. Isso pode parecer bastante estranho logo no início por que a lógica das funcionalidades pode ficar bastante espalhada entre JS e HTML, mas vou voltar a falar sobre isso em outros artigos.</p>

<p>O exemplo das tabs e uma aplicação básica de ToDo que fiz com AngualrJS pode ser visto direto <a href="https://github.com/diegoeis/angular-tests">aqui no meu GitHub</a>.</p>

    </article>

<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    
    
    if (window.location.hostname == "localhost")
        return;

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
  </section>


  <aside class="tb-aside">
    Banner
  </aside>

</section>


<footer id="tb-footer">
    <div class="tb-container">
    <ul class="tb-social-links">
        <li><a href="http://facebook.com/tablelessbr">Facebook</a></li>
        <li><a href="http://twitter.com/tableless">Twitter</a></li>
        <li><a href="http://tableless.com.br/feed">RSS</a></li>
        <li><a href="http://medium.com/tableless">Medium</a></li>
    </ul>
    <nav class="tb-footer-nav">
        <a href="">Contato</a>
        <a href="">Anuncie</a>
        <a href="">Seja um Autor</a>
        <a href="">Fazemos código front-end</a>
    </nav>

    <p class="tb-for-community">
        Escrito pela e para a comunidade web brasileira. <a href="">Ajude</a>.
    </p>
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script>
$(document).ready(function() {
  $('pre').each(function(i, block) {
    hljs.highlightBlock(block);
  });
})</script>


</body>
</html>

